textarea, input, select {
    font-family: monospace !important;
    color: indigo !important;
}

/* * {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    padding: 0.5rem;
}

textarea {
    width: 100%;
    height: 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background: #eee;
}

.success {
    color: green;
}

.error {
    color: red;
}

.container {
    display: block;
}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 500;
    color: #374151;
}

textarea,
input {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #d1d5db;
    outline: none;
    transition: border-color 0.2s;
    background-color: #f9fafb;
}

#outputHTML {
    height: 30vh;
}

textarea:focus,
input:focus {
    border-color: #3b82f6;
    background-color: white;
}

button {
    padding: 0.2rem 0.5rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #2563eb;
}

.card {
    background-color: #fff;
    padding: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 100%;
} */